<style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
    }

    #video-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

</style>
<body>
    <div id="video-background">
        <video autoplay muted loop>
            <source src="/'The Nature of Us'– a new collection that reminds us of bold instinct and intelligence Ananda Soul.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</body>