@model RingsQueryModel

<form id="filterForm" method="get">
        <label asp-for="PriceFilter"></label>
        <input asp-for="PriceFilter" placeholder="Enter a price">
    <input type="submit" value="Apply" class="btn btn-primary" />
</form>