<title>500 Internal Server Error</title>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        text-align: center;
    }

    .container2 {
        margin-top: 50px;
    }

    .meme-img {
        max-width: 100%;
        height: auto;
    }
</style>
<body>
    <div class="container2">
        <h1>500 Internal Server Error</h1>
        <img src="https://i.pinimg.com/736x/d2/91/0a/d2910aca3ba1ed4c3eac8a3f8cd3fafd.jpg" alt="500 Meme" class="meme-img">
    </div>
</body>
